<mat-card>
  <mat-card-title>Owner List</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let owner of owners">
        <!-- <img mat-list-avatar src="{{owner.giphyUrl}}" alt="{{owner.name}}"> -->
        <h3 mat-line>
          <mat-checkbox name="{{owner.dni}}" (change)="listSelectedOwners($event)">
            <a mat-button [routerLink]="['/owner-edit', owner.dni]">{{owner.name}}</a>
          </mat-checkbox>

        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <button mat-fab color="primary" (click)="delete()">Delete</button>
  <button mat-fab color="primary" [routerLink]="['/owner-add']">Add</button>
</mat-card>
